:root {

}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 25% 50% 25%;
    place-items: center;
}

.mainarea{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
}

.nameplate{
     position: relative;
     height: 100%;
     width: 100%;
     grid-column: 2/3;
     align-self: center;
    vertical-align:bottom;
   
    font-size: 5rem;
    font-family: inter;
    font-weight: 100;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:repeat(6,1fr) ;
    place-items: center;
}
.banner{
    position: relative;
    grid-row: 2/6;
    grid-column: 1/6;
    /* transform: translateX(-20%); */
}
.name{
    font-family: sacromento;
}
.sidebar{
    grid-row:2/6;
    grid-column: 6/7;
    /* border: solid rgb(4, 235, 185) 1px; */
    height: 100%;
    width: 100%;
    font-size:large ;
    display: none;

} 
.side_items{
    font-family: inter;
    /* flex-direction: column; */
     /* width: 100%; */
 }
 

   .links{
    /* border: solid black 1px; */
      width: 100%;
      display: flex;
      font-size:1rem;
      font-family: inter;
      font-weight: 400;
      /* margin-left:100px; */
}
   .github{
    margin-left:20px;
    }
    .arrow{
        transform: rotate(90deg);
    }
    .modebtn{
        position: fixed;
        top:30px;
        left: 90%;
        width: 40px;
        height: 40px;
    }
    .arrow_h{
        position: absolute;
        right: 0%;
        width:25px;
        height: 25px;
        transform: rotate(-90deg);
        opacity: 0.6;
    }
    @font-face {
        font-family:inter;
        src: url('assets/Inter-VariableFont_slnt\,wght.ttf');
        
    }
    @font-face {
        font-family: sacromento;
        src: url('assets/Sacramento-Regular.ttf');
    }


    
/* media query*/

@media (width < 700px) {
    .container{
        grid-template-rows: 20% 60% 20%;
        grid-template-columns: 100%;
    }
    .mainarea{
    grid-row: 1/4;
    grid-column: 1/2;
    }
    .nameplate{
        /* padding: 20px; */
        /* display: grid; */
        grid-template-columns: repeat(10,1fr);
        width: 100%;
        height: 100%;
        place-items: center;
        font-size: 5rem;
    }
    .banner{
        grid-row: 3/5;
        grid-column: 3/9;
        width: 100%;
        height: 100%;
    }
    .sidebar{
        display: none;
    }

    .modebtn{
        /* /* position: fixed; */
        /* top:; */
        left:85%;
    }
    .arrow_h{
        display: none;
    }
}
@media (width < 500px) {
    .banner{
        grid-column: 2/11;
    }
}